aiofiles>=23.2
alembic==1.13
apscheduler>=3.10.1
fastapi==0.109.1
fastparquet
gunicorn
httpx
offsets-db-data>=2024.9.1
pandas>=1.5.3
psycopg2-binary==2.9.9
pydantic-settings>=2.1
pydantic>=2.5
s3fs>=2023
sqlmodel==0.0.14
ujson
universal_pathlib
uvicorn
fastapi-cache2 @ git+https://github.com/andersy005/fastapi-cache@pydantic-v2-compat # for pydantic v2 compatilibity
watchdog>=3.0
