name: load-test

on:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  AWS_DEFAULT_REGION: us-west-2

jobs:
  locust-benchmarks:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - uses: actions/checkout@v5

      - name: set up conda environment
        uses: mamba-org/setup-micromamba@v2
        with:
          environment-file: environment-dev.yml
          init-shell: bash
          cache-environment: true
          cache-downloads: true
          post-cleanup: 'all'

      - name: Run tests
        env:
          OFFSETS_DB_API_KEY: ${{ secrets.OFFSETS_DB_API_KEY_PRODUCTION }}
        run: |
          mkdir results
          locust -f load-testing/locustfile.py \
                --processes 2 \
                --headless \
                --spawn-rate 40 \
                --users 5000 \
                --host https://offsets-db.fly.dev \
                --run-time 3m \
                --only-summary \
                --csv results/

      - uses: actions/upload-artifact@v5
        with:
          name: results
          path: results/*.csv
